{% extends 'base.html' %}

{% block content %}
  
<h1>This is a Delete page</h1>
<br>
<form method="post">
    <p>Вы точно хотите удалить этот пост?</p>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Да</button>
    <a href="/">
        <button class="text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Нет</button>
    </a>
</form>

{% endblock content %}

